<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Admin Sites</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">List Sites</a>
        <a class="nav-item nav-link active" href="/site/add">Add Site</a>
        </div>
    </div>
</nav>
